body, html, #root {
  height: 100%;
  margin: 0
}

.App {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.main-container {
  flex: 1;
}

.data-container {
  overflow-y: auto;
  width: 100%;
  justify-content: center;
}

.top-nav {
  flex: 0 1 auto;
}

.footer {
  flex: 0 1 auto;
}